html{
    background-color: #ced6e0;
}
.center{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.v-center{
    display: flex;
    /* 1/4 size of #homeBanner */
    padding-top:15vh;
    /* Align Horizontally */
    justify-content: center;
}
#content{
    background-color: white;
}

.fpLine{
    margin-bottom: 0;
}

#header-section{
    border-bottom: 1px solid gray;
}

#header-section > .navbar{
    height: 5vh;
}

#homeBanner{
    height: 50vh;
    background-color: black;
}

#homeBannerContent{
    color:white;
}

.indent{text-indent:2.5vw}

.navbar > .container > .row{
    width:100vw;
}

.navbar a{
    color: black;   
}
.navbar a:hover{
    text-decoration: none;
    color: #747d8c;   
}

.onepx-spacer{
    height: .4vh;
}

#push1{height: 1vh;}
#push2{height: 2vh;}
#push3{height: 3vh;}
#push4{height: 4vh;}
#push5{height: 5vh;}
#push6{height: 6vh;}
#push7{height: 7vh;}
#push8{height: 8vh;}
#push9{height: 9vh;}
#push10{height: 10vh;}
#push11{height: 11vh;}
#push12{height: 12vh;}
#push13{height: 13vh;}
#push14{height: 14vh;}
#push15{height: 15vh;}
#push16{height: 16vh;}
#push17{height: 17vh;}
#push18{height: 18vh;}
#push19{height: 19vh;}
#push20{height: 20vh;}
